body {
    margin: 20px;
    background: hsl(70, 31%, 85%);
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: calc(50vw);
    height: calc(90vh);
    border: 1px solid red;
    margin: 0px auto;
}

.balloon {
    display: inline-block;
    width: 50px;
    height: 55px;
    background: hsl(215, 50%, 65%);
    border-radius: 80%;
    position: relative;
    box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
    margin: 10px 20px;
    transition: transform 0.5s ease;
    z-index: 10;
    animation: balloons 4s ease-in-out infinite;
    transform-origin: bottom center;
}

@keyframes balloons {

    0%,
    100% {
        transform: translateY(0) rotate(-4deg);
    }

    50% {
        transform: translateY(-25px) rotate(4deg);
    }
}


.balloon:before {
    content: "▲";
    font-size: 20px;
    color: hsl(215, 30%, 50%);
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -12px;
    z-index: -100;
}

